<ruleset name="drupal/jsonapi_image_styles">
    <description>JSON:API Image Styles module CodeSniffer configuration.</description>

    <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,md,yml"/>
    <config name="drupal_core_version" value="9"/>

    <file>.</file>
    <exclude-pattern>vendor</exclude-pattern>

    <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal"/>
    <rule ref="./vendor/drupal/coder/coder_sniffer/DrupalPractice"/>
</ruleset>
