/**
 * @file
 * Gold color styling for Corporate Lite for Drupal 8.
 *
 * Base color: #948C75
 */
/* base: elements */
a {
  color: #79725d;
}
a:hover,
a:focus {
  color: #948C75;
}
a.link--dark,
.link--dark a {
  color: #948C75;
}
a.link--dark:hover,
.link--dark a:hover,
a.link--dark:focus,
.link--dark a:focus {
  color: #79725d;
}
a.link--bordered,
.link--bordered a {
  border-color: #79725d;
}
.text--dark {
  color: #948C75;
}
.text--colored {
  color: #79725d;
}
.region--dark-typography blockquote:before {
  color: rgba(121, 114, 93, 0.5);
}
.link--hover-style-3 {
  background-image: linear-gradient(rgba(148, 140, 117, 0.5) 0%, rgba(148, 140, 117, 0.5) 100%);
}
.link--hover-style-3:hover {
  background-image: linear-gradient(#948C75 0%, #948C75 100%);
}
.region--light-typography .link--hover-style-3:hover {
  color: #79725d;
}

/* base: layout */
.region--dark-background {
  background-color: #79725d;
}
.region--colored-background {
  background-color: #948C75;
}
.region--dark-background + .region--separator-incline-diagonal:before {
  background: linear-gradient(to bottom right, #79725d 49.5%, transparent 50%);
}
.region--colored-background + .region--separator-incline-diagonal:before {
  background: linear-gradient(to bottom right, #948C75 49.5%, transparent 50%);
}
.region--dark-background + .region--separator-decline-diagonal:before {
  background: linear-gradient(to bottom left, #79725d 49.5%, transparent 50%);
}
.region--colored-background + .region--separator-decline-diagonal:before {
  background: linear-gradient(to bottom left, #948C75 49.5%, transparent 50%);
}
.page-container-border-enabled .page-container {
  border-color: #79725d;
}

/* components: accordion */
.panel-title a {
  color: #948C75;
}
.panel-title a:hover,
.panel-title a:focus {
  color: #948C75;
}
.panel-heading--trigger-icon .panel-title a:after {
  background-color: #79725d;
}
.panel-heading--trigger-icon .panel-title a.collapsed:after {
  background-color: #948C75;
}
.panel-heading--trigger-icon .panel-title a:hover:after {
  background-color: #79725d;
}
.region--light-typography.region--dark-background .panel-title a:hover,
.region--light-typography.region--dark-background .panel-title a:focus {
  color: #948C75;
}
.panel-group.panel-group--style-2 .panel .panel-title a {
  background-color: #79725d;
}
.panel-group.panel-group--style-2 .panel-title a.collapsed {
  background-color: #948C75;
}
.panel-group.panel-group--style-2 .panel-title a:hover {
  background-color: #79725d;
}
.region--light-typography .panel-group.panel-group--style-2 .panel-heading--trigger-icon .panel-title a,
.region--light-typography .panel-group.panel-group--style-2 .panel-heading--trigger-icon .panel-title a:hover {
  color: #948C75;
}

/* components: buttons */
a.button,
.button > a,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #79725d;
  border-color: rgba(121, 114, 93, 0.5);
}
a.button:hover,
a.button:focus,
.button > a:hover,
.button > a:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background-color: #948C75;
  border-color: #948C75;
}
a.button.button--hover-style-2:before,
.button.button--hover-style-2 > a:before {
  background-color: #948C75;
  border-color: #948C75;
}
.region--light-typography a.button:hover,
.region--light-typography .button > a:hover,
.region--light-typography input[type="submit"]:hover,
.region--light-typography input[type="reset"]:hover,
.region--light-typography input[type="button"]:hover,
.region--light-typography a.button:focus,
.region--light-typography .button > a:focus,
.region--light-typography input[type="submit"]:focus,
.region--light-typography input[type="reset"]:focus,
.region--light-typography input[type="button"]:focus {
  color: #948C75;
}

/* components: comment */
.node .comment ul.links li a:hover {
  color: #948C75;
}

/* components: dropdowns */
.region--colored-background .dropdown-menu {
  background-color: #948C75;
}
.region--dark-background .dropdown-menu {
  background-color: #79725d;
}

/* components: fancy block */
.region--dark-background .fancy-block-text {
  background-color: #79725d;
}
.region--colored-background .fancy-block-text {
  background-color: #948C75;
}

/* components: fancy linked images block */
.clip-path-support .clip-pentagon-container {
  background-color: #79725d;
}
.clip-path-support .clip-circle-container {
  background-color: #79725d;
}
.clip-path-support .clip-rectangle-container:before {
  border-color: #79725d;
}

/* CSS rules only for FF*/
@-moz-document url-prefix() {
  .clip-pentagon-container {
    background-color: #79725d;
  }
  .clip-circle-container {
    background-color: #79725d;
  }
  .clip-rectangle-container:before {
    border-color: #79725d;
  }
}

/* components: featured linked text tiles block */
.region--light-typography .featured-linked-text-tile__body a {
  color: #79725d;
}
.region--light-typography .featured-linked-text-tile__body a:hover {
  color: #948C75;
}
.region--light-typography .featured-linked-text-tile a.button {
  background-color: #948C75;
  border-color: #948C75;
}
.region--light-typography .featured-linked-text-tile a.button:hover {
  background-color: #79725d;
  border-color: #79725d;
}
.featured-linked-text-tile .featured-linked-text-tile__title a {
  color: #948C75;
}

/* components: forms */
input.form-text:hover,
input.form-tel:hover,
input.form-email:hover,
input.form-url:hover,
input.form-search:hover,
input.form-file:hover,
input.form-number:hover,
input.form-color:hover,
textarea:hover,
select:hover,
input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
input.form-file:focus,
input.form-number:focus,
input.form-color:focus,
textarea:focus,
select:focus {
  border-color: #948C75;
}

/* components: content tabs */
.field--name-field-mt-content-tabs .nav-tabs > li > a {
  color: #948C75;
}
.field--name-field-mt-content-tabs .nav-tabs > li > a:hover {
  color: #79725d;
}
.field--name-field-mt-content-tabs .nav-tabs > li > a:focus,
.field--name-field-mt-content-tabs .nav-tabs > li.active > a,
.field--name-field-mt-content-tabs .nav-tabs > li.active > a:focus,
.field--name-field-mt-content-tabs .nav-tabs > li.active > a:hover {
  color: #948C75;
  border-color: #948C75;
}

/* components: field taxonomy terms */
.field--entity-reference-target-type-taxonomy-term .field__item a:hover,
.field--entity-reference-target-type-taxonomy-term.field__item a:hover {
  background-color: #79725d;
}

/* components: fixed header */
.onscroll .header.js-fixed.region--dark-background {
  background-color: rgba(121, 114, 93, 0.95);
}
.onscroll .header.js-fixed.region--colored-background {
  background-color: rgba(148, 140, 117, 0.95);
}

/* components: icon features */
.region--dark-typography .feature__icon {
  color: rgba(121, 114, 93, 0.7);
}
.region--dark-typography .feature:hover a.feature__icon {
  background-color: #948C75;
  border-color: #948C75;
}

/* components: image overlay */
.overlay--colored {
  background-color: rgba(148, 140, 117, 0.7);
}
.overlay-icon--button {
  background-color: #948C75;
}

/* components: in page navigation */
.onscroll .header-container ul.in-page-navigation li.active a {
  color: #79725d;
}

/* components: language switcher */
.region--dark-typography .block-language ul li .is-active {
  color: #948C75;
}

/* components: layout switcher */
.layout-switcher ul li a {
  color: #79725d;
}
.layout-switcher ul li.active a {
  color: #948C75;
}

/*main slideshow block*/
.ms-transparent-background .region--dark-typography.tp-caption__title a:hover {
  color: #948C75;
}

/* components: menu */
ul.menu li a:hover {
  background-color: #948C75;
}
.region--colored-background ul.menu li > a:hover {
  background-color: #79725d;
}
.region--dark-background ul.menu li > a:hover {
  background-color: #948C75;
}
.header-container ul.menu li a.is-active,
.header-container ul.menu > li.active-trail > a {
  color: #79725d;
}
.header-container ul.menu li a:hover,
.header-container ul.menu > li > a.is-active:hover {
  background-color: rgba(121, 114, 93, 0.85);
}
.header-container ul.sf-menu > li.active-trail > a .sf-sub-indicator:after {
  color: #79725d;
}
.header-container .sf-menu li.sfHover > a {
  background-color: rgba(121, 114, 93, 0.85);
}
.header-container .sf-menu ul li a:hover,
.header-container .sf-menu ul li.sfHover > a,
.header-container .sf-menu ul li a.is-active,
.header-container .sf-menu ul li.active-trail > a {
  background-color: #948C75;
  color: #ffffff;
}
.header-container .sf-menu.menu ul {
  background-color: rgba(121, 114, 93, 0.85);
}
.menu.cta-active > li:last-child > a {
  color: #79725d;
  border-color: rgba(121, 114, 93, 0.5);
}
.menu.cta-active > li:last-child > a:hover {
  background-color: #948C75;
  border-color: #948C75;
}
.region--light-typography .menu.cta-active > li:last-child > a:hover {
  color: #948C75;
  opacity: 1;
}
.region--dark-typography .subfooter__section ul.menu li a:hover {
  border-bottom-color: #948C75;
  color: #948C75;
}

/* components: node links */
.node ul.links li a {
  color: #79725d;
  border-color: rgba(121, 114, 93, 0.5);
}
.node ul.links li a.active {
  color: #79725d;
}
.node ul.links li a:hover,
.node ul.links li a:focus {
  background-color: #948C75;
  border-color: #948C75;
}

/* components: node product */
.node--type-mt-product .field--name-field-mt-buy-link a {
  color: #79725d;
  border-color: rgba(121, 114, 93, 0.5);
}
.node--type-mt-product .field--name-field-mt-buy-link a:hover {
  background-color: #948C75;
  border-color: #948C75;
}
.region--light-typography .field--name-field-mt-buy-link a:hover {
  color: #948C75;
}
.field--name-field-mt-highlight-link a {
  border-color: rgba(121, 114, 93, 0.5);
}
.field--name-field-mt-highlight-link a:hover {
  background-color: #948C75;
  border-color: #948C75;
}

/* components: node service */
.node--type-mt-service .field--name-field-mt-buy-link a {
  color: #79725d;
  border-color: rgba(121, 114, 93, 0.5);
}
.node--type-mt-service .field--name-field-mt-buy-link a:hover {
  background-color: #948C75;
  border-color: #948C75;
}
.region--light-typography .field--name-field-mt-buy-link a:hover {
  color: #948C75;
}

/* components: node testimonials */
.node--type-mt-testimonial .field--name-body p:first-child:after {
  color: rgba(121, 114, 93, 0.5);
}

/* components: owl carousel global */
.owl-nav div:hover {
  color: #948C75;
}
.owl-dot span {
  border-color: #79725d;
}
.owl-dot.active span {
  border-color: #948C75;
}
.owl-dot:hover span {
  background-color: #79725d;
  border-color: #79725d;
}

/* components: post progress */
.post-progress__bar {
  background-color: #79725d;
}

/* components: progress bars */
.progress-bar-default {
  background-color: #948C75;
}

/* components: share links */
.share-links ul li a:hover {
  background-color: #948C75;
}
.js-share-links-fixed .share-links ul li a:hover {
  background-color: #948C75;
}

/* components: site branding */
.region--dark-typography .site-slogan {
  color: #79725d;
}

/* components: slideout */
.slideout-toggle {
  background-color: #79725d;
}

/* components: slider revolution global */
.tp-caption__button {
  border-color: #79725d;
  background-color: #79725d;
}
.tp-caption__button:hover {
  background-color: #948C75;
  border-color: #948C75;
}
.tp-tabs {
  background-color: rgba(148, 140, 117, 0.93) !important;
}
.tp-tabs .tp-tab.selected,
.tp-tabs .tp-tab:hover {
  background-color: #948C75;
}

/* components: tabs */
.nav-tab__subtitle {
  color: #79725d;
}
.nav-tabs.nav-tabs--fancy > .active > a,
.nav-tabs.nav-tabs--fancy > .active > a:focus,
.nav-tabs.nav-tabs--fancy > .active > a:hover,
.nav-tabs.nav-tabs--fancy > li > a:focus,
.nav-tabs.nav-tabs--fancy > li > a:hover {
  border-color: #948C75;
  color: #948C75;
}
.region--light-typography.region--colored-background .nav-tabs.nav-tabs--fancy > li > a,
.region--light-typography.region--colored-background .nav-tabs.nav-tabs--fancy > li > a:hover,
.region--light-typography.region--colored-background .nav-tabs.nav-tabs--fancy > li > a:focus {
  color: #948C75;
}

/* components: to top */
.to-top {
  background-color: rgba(121, 114, 93, 0.4);
}
.to-top:hover {
  background-color: rgba(121, 114, 93, 0.6);
}

/* components: view articles grid */
.view-articles-grid .views-field-title a {
  color: #948C75;
}
.view-articles-grid .views-field-title a:hover {
  color: #79725d;
}
.region--light-typography .view-articles-grid .article-header a {
  color: #79725d;
}
.region--light-typography .view-articles-grid .article-header a:hover {
  color: #948C75;
}

/* components: view articles list 2 */
.region--dark-typography .view-articles-list-2 .views-row:after {
  color: #79725d;
}

/* components: view collections image overlay */
.view-collections-grid .overlay-inner a,
.view-collections-carousel .overlay-inner a,
.view-collection-masonry .overlay-inner a {
  color: #79725d;
  border-color: rgba(121, 114, 93, 0.5);
}
.view-collections-grid .overlay-inner a:hover,
.view-collections-carousel .overlay-inner a:hover,
.view-collection-masonry .overlay-inner a:hover {
  background-color: #948C75;
  border-color: #948C75;
}

/* components: view latest items */
.view-latest-items .views-row:hover {
  background-color: #948C75;
}

/* components: view popular taxonomy */
.view-mt-popular-tags .views-row a:hover {
  background-color: #79725d;
}
.region--gray-background .view-mt-popular-tags .views-row a:hover {
  background-color: #79725d;
}
.region--colored-background .view-mt-popular-tags .views-row a:hover,
.region--dark-background .view-mt-popular-tags .views-row a:hover,
.region--black-background .view-mt-popular-tags .views-row a:hover {
  color: #948C75;
}

/* components: view pricing tables */
.view-pricing-tables .pricing-table {
  border-color: #79725d;
}.view-pricing-tables .pricing-table-header {
  background-color: #79725d;
}.view-pricing-tables .pricing-table .views-field-field-mt-most-popular {
  background-color: #948C75;
}

/* components: view promoted items */
.view-promoted-items-icon {
  color: #79725d;
}
.view-promoted-items .views-row:hover .view-promoted-items-icon {
  background-color: #948C75;
}

/* components: view promoted posts carousel */
.view-promoted-posts-carousel .overlay-inner h5 a {
  color: #79725d;
}
.view-promoted-posts-carousel .overlay-inner h5 a:hover {
  color: #948C75;
}

/* components: view testimonials grid */
.view-testimonials-grid .views-field-body p:first-child::before {
  color: rgba(121, 114, 93, 0.5);
}

/* components: view testimonials grid 2 */
.view-testimonials-grid-2 .views-field-body p:first-child:after {
  color: rgba(121, 114, 93, 0.5);
}

/* components: view testimonials list */
.view-testimonials-list .views-field-body p:first-child:after {
  color: rgba(121, 114, 93, 0.5);
}

/* components: view testimonials list 2 */
.view-testimonials-list-2 .views-field-body p:after {
  color: rgba(121, 114, 93, 0.5);
}

/* components: views */
.col-md-12 .view > .more-link a {
  color: #79725d;
  border-color: rgba(121, 114, 93, 0.5);
}
.col-md-12 .view > .more-link a:hover {
  background-color: #948C75;
  border-color: #948C75;
}
.region--light-typography .col-md-12 .view > .more-link a:hover {
  color: #948C75;
}
