#block-citiesheaderblock {
  padding-bottom: 15px;
}
ul.otp-cities li a {
  text-decoration: underline;
}
ul.otp-cities li a:hover,
ul.otp-cities li a:focus {
  text-decoration: none;
}

/* Taken from https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media (min-width: 600px) {
  ul.otp-cities {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  ul.otp-cities {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 992px) {
  ul.otp-cities {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}