#block-corporateplus-content,
#block-corporateplus-content .node__header,
#block-timelineheaderblock {
  padding-bottom: 0;
}
#block-timelineheaderblock h2.title {
  margin: 20px 0;
}
.our-latest-find .views-field-title h3 {
  letter-spacing: normal;
  text-transform: none;
  margin-top: 0;
}