#views-exposed-form-oregon-theater-map-map-block {
  display: none;
}
#views-exposed-form-oregon-theater-map-page-theaters>div {
  display: flex;
}
#views-exposed-form-content-block-1 select,
#views-exposed-form-oregon-theater-map-page-theaters select {
  margin: 0 0;
}
#views-exposed-form-oregon-theater-map-page-theaters .form-actions {
  margin: auto 0 20px 10px;
}
#views-exposed-form-oregon-theater-map-page-theaters .form-actions input {
  margin: 0 0;
  line-height: 27px;
  padding: 14px 15px;
}
/* Zebra-stripe rows of the theater directory table. */
.theater-directory-table > .view-content > .views-table tbody tr:nth-of-type(odd) {
  background-color: #c0c0c026;
}