{#
/**
 * @file
 * Default template implementation to display the background inline field.
 *
 * Available variables:
 * - background_image_selector: The css selector.
 * - image_uri: The absolute url to the image.
 */
#}
<div class="{{ background_image_selector }}" style="background-image: url('{{ image_uri }}');">
  &nbsp;
</div>
