/**
 * @file
 * Visual styles for comments section in Corporate Lite.
 */

/*comments section*/
.comment-wrapper {
  margin-top: 55px;
}
.comment-wrapper h2.title {
  padding-bottom: 15px;
  margin: 20px 0 40px 0;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid #c2c2c2;
  text-align: left;
}
