/**
 * @file
 * Visual styles for Corporate Lite's subscribe forms.
 */
/*subscribe form*/
.subscribe-form {
  position: relative;
  top: 0px;
  width: 100%;
  left: 0;
}
.footer-top__section .subscribe-form {
  margin: 5px 0;
}
@media (max-width: 992px) {
  .footer-top__section .subscribe-form {
    margin-bottom: 20px;
  } 
}
.subscribe-form .form-group {
  display: block;
}
.subscribe-form .form-item,
.subscribe-form .form-actions { 
  margin: 0;
}
.subscribe-form input.form-text { 
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 150px;
  border: 0;
  width: 100%;
}
.region--light-typography .subscribe-form .form-text {
  color: #ffffff;
}
.subscribe-form input[type="submit"] {
  margin: 0;
  font-size: 12px;
  min-width: 140px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -22px;
}

/*subscribe full width*/
.subscribe-full-width h4 {
  margin-bottom: 20px;
  text-align: center;
}
.subscribe-full-width h4 i {
  padding-right: 10px;
}
@media (min-width: 768px) {
  .subscribe-full-width input[type="submit"] {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .subscribe-full-width h4 {
    text-align: left;
    margin: 7px;
  }
}
